// Footer.scss

.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer-section p {
  font-size: 1rem;
  margin-bottom: 10px;
  width: 350px;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.social-links a:hover {
  text-decoration: underline;
}

.about-us {
  font-weight: bold;
  color: #fff; /* You can adjust the color */
}
